<h2>Update Menu</h2>
<div id="nav" class="twelve columns">
 <ul>
 <li><a class="button" href="/">Home</a></li>
 <li><a class="button" href="/admins">Admin</a></li>
 <li><a class="button" href="/items">Menu</a></li>
 <li><a class="button" href="/orders">Orders</a></li>
 <li><a class="button" href="/parties">Parties</a></li>
 </ul>
</div>
