<%= stylesheet_link_tag    'items', media: 'all', 'data-turbolinks-track' => true %>
<h4>Menu</h4>
<table class="striped">
  <thead>
    <tr>
        <th data-field="name">Name</th>
        <th data-field="price">Price</th>
        <th data-field="description">Description</th>
    </tr>
  </thead>
  <tbody>
<% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
